*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color: #ededed;
    display: grid;
    grid-template-rows: 30% 50% 20%;
    grid-template-columns: 25% 25% 50%;
}

#left-top-left{
    background-color: blue;
    grid-column: 1 / 2;
}
#left-top-right{
    background-color: green;
    grid-column: 2 / 3;
}
#left-center{
    background-color: red;
    grid-row: 2 / 3;
    grid-column-start: 1;
    grid-column-end: 3;
}
#left-bottom{
    background-color: yellow;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column: 1 / 3;
}
#right{
    background-color: skyblue;
    grid-row: 1 / 4;
    grid-column: 3 / 4 ;
}